USE [master]
GO
/****** Object:  Database [CoiGardenDB]    Script Date: 12/2/2025 4:45:19 PM ******/
CREATE DATABASE [CoiGardenDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoiGardenDB', FILENAME = N'C:\Users\Gentle Peach\OneDrive\Desktop\MSSQL17.SQLEXPRESS\MSSQL\DATA\CoiGardenDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CoiGardenDB_log', FILENAME = N'C:\Users\Gentle Peach\OneDrive\Desktop\MSSQL17.SQLEXPRESS\MSSQL\DATA\CoiGardenDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoiGardenDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoiGardenDB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/2/2025 4:45:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Alias] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/2/2025 4:45:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[TaiKhoan] [varchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [varchar](30) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 12/2/2025 4:45:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NULL,
	[TotalAmount] [decimal](18, 0) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CustomerPhone] [nvarchar](20) NULL,
	[CustomerAddress] [nvarchar](250) NULL,
	[CustomerEmail] [nvarchar](100) NULL,
	[Note] [nvarchar](max) NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[MaKH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 12/2/2025 4:45:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 0) NULL,
	[Total] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/2/2025 4:45:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NULL,
	[Name] [nvarchar](250) NULL,
	[Alias] [varchar](250) NULL,
	[Price] [decimal](18, 0) NULL,
	[PriceSale] [decimal](18, 0) NULL,
	[Image] [nvarchar](250) NULL,
	[Quantity] [int] NULL,
	[Size] [nvarchar](50) NULL,
	[Description] [ntext] NULL,
	[CreatedDate] [datetime] NULL,
	[DaBan] [int] NULL,
	[LuotXem] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 12/2/2025 4:45:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[Image] [nvarchar](250) NULL,
	[IsDefault] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 12/2/2025 4:45:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[FullName] [nvarchar](100) NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name], [Alias]) VALUES (1, N'Bể Kín (Closed)', N'be-kin')
INSERT [dbo].[Category] ([Id], [Name], [Alias]) VALUES (2, N'Bể Hở (Open)', N'be-ho')
INSERT [dbo].[Category] ([Id], [Name], [Alias]) VALUES (3, N'Tiểu Cảnh Rêu', N'tieu-canh-reu')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [TaiKhoan], [MatKhau], [Email], [DiaChi], [DienThoai], [NgayTao]) VALUES (1, N'Đặng Ngọc Phú', N'dangp2509', N'Phuphu-250905', N'dphu250905@gmail.com', N'25 đường số 12 tăng nhơn phú', N'0849812878', NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [CustomerName], [TotalAmount], [Status], [CreatedDate], [CustomerPhone], [CustomerAddress], [CustomerEmail], [Note], [PaymentStatus], [MaKH]) VALUES (1, N'Đặng Ngọc Phú', CAST(850000 AS Decimal(18, 0)), NULL, CAST(N'2025-12-02T14:41:17.560' AS DateTime), N'0849812878', N'25 Số 12, Tăng Nhơn Phú B, Thủ Đức', N'dphu250905@gmail.com', N'Cảm Ơn!', N'Chưa thanh toán', NULL)
INSERT [dbo].[Order] ([Id], [CustomerName], [TotalAmount], [Status], [CreatedDate], [CustomerPhone], [CustomerAddress], [CustomerEmail], [Note], [PaymentStatus], [MaKH]) VALUES (2, N'Đặng Ngọc Phú', CAST(850000 AS Decimal(18, 0)), NULL, CAST(N'2025-12-02T14:44:17.250' AS DateTime), N'0849812878', N'25 Số 12, Tăng Nhơn Phú B, Thủ Đức', N'dphu250905@gmail.com', N'Cảm ơn!', N'Chưa thanh toán', NULL)
INSERT [dbo].[Order] ([Id], [CustomerName], [TotalAmount], [Status], [CreatedDate], [CustomerPhone], [CustomerAddress], [CustomerEmail], [Note], [PaymentStatus], [MaKH]) VALUES (3, N'Đặng hihi', CAST(150000 AS Decimal(18, 0)), NULL, NULL, N'0912345678', N'abccc', N'phu123@gmail.com', N'haha', N'Chưa thanh toán', NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductId], [Price], [Quantity], [UnitPrice], [Total]) VALUES (1, 1, 21, NULL, 1, CAST(850000 AS Decimal(18, 0)), CAST(850000 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductId], [Price], [Quantity], [UnitPrice], [Total]) VALUES (2, 2, 21, NULL, 1, CAST(850000 AS Decimal(18, 0)), CAST(850000 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductId], [Price], [Quantity], [UnitPrice], [Total]) VALUES (3, 3, 22, NULL, 1, CAST(150000 AS Decimal(18, 0)), CAST(150000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [CategoryId], [Name], [Alias], [Price], [PriceSale], [Image], [Quantity], [Size], [Description], [CreatedDate], [DaBan], [LuotXem]) VALUES (1, 1, N'Bể Rừng Mưa Nhiệt Đới', N'rung-mua', CAST(450000 AS Decimal(18, 0)), CAST(600000 AS Decimal(18, 0)), N'closed_1.jpg', 10, N'Mini (10x10cm)', N'Hệ sinh thái rừng mưa với rêu và dương xỉ.', CAST(N'2025-11-30T10:30:31.370' AS DateTime), 633, 2)
INSERT [dbo].[Product] ([Id], [CategoryId], [Name], [Alias], [Price], [PriceSale], [Image], [Quantity], [Size], [Description], [CreatedDate], [DaBan], [LuotXem]) VALUES (2, 1, N'Bể Kín Tượng Phật Zen', N'tuong-phat', CAST(1250000 AS Decimal(18, 0)), NULL, N'closed_2.jpg', 10, N'Trụ tròn D15cm', N'Phong cách thiền tịnh, yên bình.', CAST(N'2025-11-30T10:30:31.370' AS DateTime), 557, 7)
INSERT [dbo].[Product] ([Id], [CategoryId], [Name], [Alias], [Price], [PriceSale], [Image], [Quantity], [Size], [Description], [CreatedDate], [DaBan], [LuotXem]) VALUES (3, 1, N'Terrarium Chóp Đa Giác', N'chop-da-giac', CAST(850000 AS Decimal(18, 0)), CAST(950000 AS Decimal(18, 0)), N'closed_3.jpg', 10, N'Vừa (20x20x25cm)', N'Bể kính hình học nghệ thuật sang trọng.', CAST(N'2025-11-30T10:30:31.370' AS DateTime), 895, 2)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([Id], [ProductId], [Image], [IsDefault]) VALUES (1, 1, N'closed_1_1.jpg', 0)
INSERT [dbo].[ProductImage] ([Id], [ProductId], [Image], [IsDefault]) VALUES (2, 1, N'closed_1_2.jpg', 0)
INSERT [dbo].[ProductImage] ([Id], [ProductId], [Image], [IsDefault]) VALUES (3, 1, N'closed_1_3.jpg', 0)
GO
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([Id], [ProductId], [FullName], [Rating], [Comment], [CreatedDate]) VALUES (1, 1, N'Trần Thị Bích', 5, N'Shop tư vấn nhiệt tình, sẽ ủng hộ tiếp.', CAST(N'2025-10-13T09:13:12.667' AS DateTime))
INSERT [dbo].[Review] ([Id], [ProductId], [FullName], [Rating], [Comment], [CreatedDate]) VALUES (2, 1, N'Lê Thảo Nhi', 2, N'Giao hàng hơi chậm.', CAST(N'2025-11-16T01:13:12.673' AS DateTime))
INSERT [dbo].[Review] ([Id], [ProductId], [FullName], [Rating], [Comment], [CreatedDate]) VALUES (3, 1, N'Trần Thị Bích', 4, N'Tuyệt vời, để bàn làm việc rất chill.', CAST(N'2025-11-27T21:13:12.673' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__D5B8C7F05C937310]    Script Date: 12/2/2025 4:45:20 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((10)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [DaBan]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [LuotXem]
GO
ALTER TABLE [dbo].[ProductImage] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT ((5)) FOR [Rating]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
USE [master]
GO
