@using PagedList.Mvc;
@using PagedList;
@model IPagedList<DoAn_WebBanCayCanh_24DKTPM1A.Models.Product>

@{
    ViewBag.Title = "Aqua";
    Layout = "~/Views/Shared/_TeraLayout.cshtml";
}

@section Styles {
    <link href="~/Content/StyleTera.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Scripts/aqua.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
}

<div class="container mb-5 pt-4">
    <div class="row">
        <div class="col-lg-3 mb-4">
            <h5 class="sidebar-title">Danh mục Aqua</h5>
            <ul class="list-group" id="category-filter">
                <li class="list-group-item active cursor-pointer" onclick="filterCategory(this, null)">Tất cả sản phẩm</li>

                <li class="list-group-item cursor-pointer" onclick="filterCategory(this, 5)">Hồ thủy sinh</li>
                <li class="list-group-item cursor-pointer" onclick="filterCategory(this, 6)">Cá & Tép cảnh</li>
                <li class="list-group-item cursor-pointer" onclick="filterCategory(this, 7)">Lũa & Đá Layout</li>

            </ul>

            <h5 class="sidebar-title mt-4">Mức giá</h5>
            <div class="form-check mb-2">
                <input class="form-check-input price-checkbox" type="checkbox" id="p1" value="0-500000" onchange="filterPrice(this)">
                <label class="form-check-label text-secondary" for="p1">Dưới 500k</label>
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input price-checkbox" type="checkbox" id="p2" value="500000-1000000" onchange="filterPrice(this)">
                <label class="form-check-label text-secondary" for="p2">500k - 1 triệu</label>
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input price-checkbox" type="checkbox" id="p3" value="1000000-99000000" onchange="filterPrice(this)">
                <label class="form-check-label text-secondary" for="p3">Trên 1 triệu</label>
            </div>

            <div class="mt-4 rounded overflow-hidden shadow-sm">
                <img src="~/images/pro_2.jpg" class="w-100" style="opacity: 0.8" onerror="this.src='https://via.placeholder.com/300x400?text=Aqua+Banner'">
            </div>
        </div>

        <div class="col-lg-9">
            <div id="product-list-container">
                @Html.Partial("_AquaGrid", Model)
            </div>
        </div>
    </div>
</div>
<script>
    var aquaUrl = '@Url.Action("Aqua", "Products")';
</script>